<h1>Matches</h1>
<hr>

<div class="table-responsive">
  <table class="table table-striped table-hover matches">
    <thead>
      <tr>
        <th>Challenger</th>
        <th>Defender</th>
        <th>Game 1</th>
        <th>Game 2</th>
        <th>Game 3</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(matches, function (match) { var date = new Date(match.createdAt); %>
        <tr>
          <td>
            <%= match.challenger.firstName.substring(0,1) %>. "<%= match.challenger.nickname %>" <%= match.challenger.lastName %>
            <% if (match.winner.id == match.challenger.id) { %>
              <i class="glyphicon glyphicon-ok" style="color: green;"></i>
              <i class="glyphicon glyphicon-arrow-up" style="color: green;"></i>
            <% } %>
          </td>
          <td>
            <%= match.defender.firstName.substring(0,1) %>. "<%= match.defender.nickname   %>" <%= match.defender.lastName %>
            <% if (match.winner.id == match.defender.id) { %>
              <i class="glyphicon glyphicon-ok" style="color: green;"></i>
            <% } %>
          </td>
          <td><%= match.challenger_game1 %>-<%= match.defender_game1 %></td>
          <td><%= match.challenger_game2 %>-<%= match.defender_game2 %></td>
          <td>
            <% if(match.challenger_game3 > 0 && match.defender_game3 > 0) {%>
             <%= match.challenger_game3 %>-<%= match.defender_game3 %>
            <% } %>
          </td>
          <td><%= date.toDateString() %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
